name: Tests

on:
  pull_request:
    paths-ignore:
      - 'README.md'
  push:
    branches: master
    paths-ignore:
      - '**/README.md'

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - run: cargo check --all-features
      - run: cargo test --no-default-features
      - run: cargo test
      - run: cargo test --all-features
